<div class="row">
  <div class="col-md-3" *ngFor="let post of listPosts">
    <div class="card" >
      <img class="card-img-top" src="{{post._featuredImage.baseUrl + post._featuredImage.relativePath + post._featuredImage.medium}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.shortDescription | summary}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{post.createdAt | date}}</small>
        <small class="float-right">{{post._author.fullName}}</small>
      </div>
    </div>
  </div>
</div>